/*Придумайте селектор, который выберет абзацы <p> внутри дивов <div>.*/
div p {
    color: #3b303d;
    text-align: justify;
    text-indent: 30px;
}
/*Придумайте селектор, который выберет все <h2> внутри дивов <div>.*/
div h2{
    color: #000;
    text-align: center;
}
/*Придумайте селектор, который выберет все абзацы <p> из элемента с id=test.*/

#test p{
    font: italic 16px Arial;
}
/*Придумайте селектор, который выберет все <h2> из элемента с id=test.*/

#test h2{
    font: bold 20px Verdana;
}
/*Выберите все элементы с классом bbb.*/

.bbb{
    font-style: normal;
}

/*Выберите все элементы с классом bbb из элемента с id=test.*/
#test1.bbb{
color: #521f64;
    text-align: justify;
}
/*Выберите все абзацы <p> с классом bbb.*/
p.bbb{
    text-align: right;
}
/*Выберите все <h2> с классом bbb.*/
h2.bbb{
    color: #785588;
}
/*Выберите все абзацы <p> с классом bbb из элемента с id=test. */

#test1 p.bbb{
    font-size: 20px;
}

/*Выберите все элементы с классом bbb и элементы с классом xxx одновременно.*/

.bbb,.xxx{
    text-decoration: underline;
}
/*Выберите все абзацы <p> с классом bbb и <h2> с классом xxx одновременно.*/

p.bbb, h2.xxx{
    text-transform: capitalize;
}
/*Выберите все абзацы <p> с классом bbb из id=test и все абзацы <p> с классом xxx из id=test одновременно.*/
#test p.bbb, #test p.xxx{
    text-shadow: 1px 2px 3px #56595a;
}
/*Выберите все элементы из класса fff.*/
.fff{}
/*Выберите все абзацы <p> из класса fff.*/
.fff p{}
/*Выберите все абзацы <p> с классом fff.*/
p.fff{}
/*Выберите все элементы с классом bbb из класса fff.*/
.fff .bbb{}
/*Выберите все <h2> с классом bbb из класса fff.*/
.fff h2.bbb{}